:root {
  --color-heading: #0b0d19;
  --color-body: #677386;
  --color-bg-button: #3d7bfa;
  --color-text-button: #fff;

  /* Når du synes, du er færdig, så ændr værdien herunder til '1' for at se dit resultat i browseren */
  --hide-overlay: 1;
}

/* Begynd her... */
.big_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5%;

  section {
    grid-column: 1;
    font-size: 1cqw;
    color: #677386;

    h1 {
      font-weight: bold;
      font-size: 2cqw;
      color: #0b0d19;
    }

    button {
      background-color: #3d7bfa;
      color: #fff;
    }
  }
}
